body{
    margin:0%;
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: white;
   overflow:hidden;
   position: relative;
}
nav {
    display:flex;
    justify-content: space-around;
    background-color: rgb(182, 194, 203);
    padding: 3%;
    margin: 0%;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 15px 15px 20px 10px black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight:bolder;
    text-transform: uppercase;
    color: black;
    position: sticky;
}
a{
    text-decoration: none;
    color:black;
}
a:visited{
    color:black;
}
a:hover{
    color: rgb(165, 68, 57);
}

img {
    width: auto;
    height: auto;
    opacity: 20%;
    position: absolute;
} 

form{
   position: relative;

}
fieldset{
    display: flex;
   justify-content: center;
   flex-direction: column;
   width: 800px;
   height: 900px;
   position: relative;
}
legend{
    font-size: 22px;
    padding: 3%;
    display: flex;
    justify-content: center;
}
div{
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
label{
    padding: 2%;
    font-size: 20px;
}
p {
    font-size: 22px;
    margin-left: 10px;
}